@import "src/assets/styles/style-constants";

.similarPosts {
  padding: 0 $sectionPaddingX 6em;

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
    column-gap: 2em;
    row-gap: 3em;
  }
}